.sticker-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 250px 50px 250px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #F4F7FB 50%);
}

.sticker-container img {
    width: 1200px;
    height: 250px;
}

@media (max-width: 1024px) {
    .sticker-container {
        padding: 30px 0px 50px 0px;
    }
}

@media (max-width: 900px) {
    .sticker-container {
        padding: 10px 0px 20px 0px;
    }

    .sticker-container img {
        width: 900px;
        height: 220px;
    }
}

@media (max-width: 768px) {
    .sticker-container {
        padding: 0px 0px 20px 0px;
    }

    .sticker-container img {
        width: 750px;
        height: 200px;
    }
}

@media (max-width: 700px) {
    .sticker-container img {
        width: 700px;
        height: 200px;
    }
}

@media (max-width: 600px) {
    .sticker-container img {
        width: 600px;
        height: 180px;
    }
}

@media (max-width: 600px) {
    .sticker-container img {
        width: 500px;
    }
}

@media (max-width: 425px) {
    .sticker-container img {
        width: 400px;
        height: 150px;
    }
}

@media (max-width: 375px) {
    .sticker-container img {
        width: 350px;
        height: 120px;
    }
}

@media (max-width: 320px) {
    .sticker-container img {
        width: 300px;
        height: 100px;
    }
}