.institutionscourses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F4F7FB;
    padding-bottom: 40px;
}

.institutionscourses-container button {
    background-color: #FFFFFF;
    border: 1px solid #CFCFCF;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    color: #595959;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    transition: background 0.3s ease;
}

.institutionscourses-container button:hover {
    background: #f0f0f0;
}

@media (max-width: 1000px) {
    .institutionscourses-container {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .institutionscourses-container button {
        height: 40px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .institutionscourses-container button {
        width: 350px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .institutionscourses-container button {
        width: 300px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .institutionscourses-container button {
        width: 250px;
        height: 25px;
        font-size: 12px;
    }
}